.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

mat-toolbar a {
  font-size: 15px;
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}
mat-card {
  height: 100%;
}
