<form [formGroup]="formGroup" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        {{title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="IP *" formControlName="ip" [appDisableControl]="isDisabled">
            <mat-error *ngIf="formGroup.controls['ip'].hasError('required')">
              <strong>IP {{alert}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Requisição *" formControlName="request" [appDisableControl]="isDisabled">
            <mat-error *ngIf="formGroup.controls['ip'].hasError('required')">
              <strong>Requisição {{alert}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="HTTP Status *" formControlName="httpStatusCode"
              [appDisableControl]="isDisabled">
            <mat-error
              *ngIf="!formGroup.controls['httpStatusCode'].valid && formGroup.controls['httpStatusCode'].touched">
              <strong>{{ getHttpStatusErrorMessage() }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="datePicker" placeholder="Data" formControlName="logDate"
              [appDisableControl]="isDisabled">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error *ngIf="formGroup.controls['logDate'].touched">
              <strong>Data {{alert}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descrição" formControlName="userAgent"
              [appDisableControl]="isDisabled"></textarea>
            <mat-error *ngIf="formGroup.controls['userAgent'].hasError('required')">
              <strong>Descrição {{alert}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="previousState()">
        <mat-icon aria-label="Voltar para página anterior">keyboard_backspace</mat-icon>
        Voltar
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit(formGroup.value)"
        [disabled]="!formGroup.valid || isDisabled">
        Salvar <mat-icon aria-label="Salvar log">send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
